# Rescheduling mit Flow Time
> Planunghorizont Tag 0: 2 Tage
> Rescheduling des Tages 1

In [52]:
import time

In [54]:
import pandas as pd
import pulp
import math
import re


pd.set_option('display.max_rows', 20)

In [56]:
import utils.presenter as show
import utils.checker as check

import utils.schedule_interarrival as sit
import utils.scheduling_solver as ssv
import utils.rescheduling_solver as rssv

from ProductionDaySimulation import ProductionDaySimulation

In [30]:
import utils.rolling_planning.init_jobs_times as rp_init
import utils.rolling_planning.procedure as rp_proced

In [32]:
df_instance = pd.read_csv("data/00_instance.csv")
df_instance

      Job  Operation Machine  Processing Time
0   job 0          0      M0               29
1   job 0          1      M1               78
2   job 0          2      M2                9
3   job 0          3      M3               36
4   job 0          4      M4               49
..    ...        ...     ...              ...
95  job 9          5      M9               76
96  job 9          6      M5               47
97  job 9          7      M3               52
98  job 9          8      M4               90
99  job 9          9      M7               45

[100 rows x 4 columns]

In [34]:
df_jssp, df_times = rp_init.init_jobs_with_arrivals(df_instance, 2,  u_b_mmax = 0.9)
df_jssp

         Job Operation Machine Processing Time
0    Job_000         0      M0              29
1    Job_000         1      M1              78
2    Job_000         2      M2               9
3    Job_000         3      M3              36
4    Job_000         4      M4              49
..       ...       ...     ...             ...
375  Job_037         5      M9              76
376  Job_037         6      M5              47
377  Job_037         7      M3              52
378  Job_037         8      M4              90
379  Job_037         9      M7              45

[380 rows x 4 columns]

In [36]:
df_times

        Job  Arrival
0   Job_000     0.00
1   Job_001    88.05
2   Job_002   152.78
3   Job_003   207.97
4   Job_004   246.61
..      ...      ...
33  Job_033  2630.89
34  Job_034  2637.28
35  Job_035  2638.72
36  Job_036  2764.04
37  Job_037  2869.61

[38 rows x 2 columns]

In [ ]:
max_time = 60*60*4 # 4h

## I) Complete Scheduling

In [ ]:
starting_time = time.time()

# Scheduling
df_plan = ssv.solve_jssp_flowtime(df_jssp, df_times, solver= "HiGHS", msg=True, timeLimit=max_time, gapRel= 0.10)
df_plan

# Informationen
ending_time = time.time()
solver_duration = ending_time - starting_time
print(f"\nScheduling-Dauer: {int(solver_duration // 60)} Minuten und {(solver_duration % 60):.2f} Sekunden.")
df_plan

In [ ]:
show.plot_gantt_machines(df_plan)

check.is_machine_conflict_free(df_plan)
check.is_operation_sequence_correct(df_plan)
check.is_job_timing_correct(df_plan)
check.is_start_correct(df_plan)

## II) Erster Tag (Tag 0)

### a) Simulation

In [44]:
day_length = 1440

In [46]:
day_numb = 0

day_start = day_length*day_numb 
day_end = day_start + day_length

In [48]:
simulation = ProductionDaySimulation(df_plan, vc=0.35)
df_execution, df_undone = simulation.run(start_time = day_start, end_time=day_end)

NameError: name 'df_plan' is not defined

In [ ]:
df_undone

In [ ]:
if not df_execution.empty:
    show.plot_gantt_machines(df_execution, title=f"Gantt-Diagramm ab Tag {day_numb}", duration_column="Simulated Processing Time")
else:
    print(f"Nothing executed on day {day_numb}")

### b) Verbleibene Jobs (Rest)

In [ ]:
df_rest = df_plan.merge(df_execution[["Job", "Machine"]], on=["Job", "Machine"], how="left", indicator=True)
df_rest = df_rest[df_rest["_merge"] == "left_only"].drop(columns=["_merge"])
df_rest = df_rest.sort_values(by=["Arrival", "Start"]).reset_index(drop=True)
df_rest

In [ ]:
allowed = df_rest["Job"].unique() 
df_time_rest = df_times[df_times["Job"].isin(allowed)].copy()
df_time_rest

## III) Rescheduling
> vereinfacht, ohne neu Aufträge (nur der Rest)

In [ ]:
# Reduktion der bereits ausgeführten Operationen auf die relevanten für die nächsten Tage
df_execution_important = df_execution[df_execution["End"] >= 1440]
df_execution_important

In [ ]:
df_reschedule = rssv.solve_jssp_individual_flowtime_with_fixed_ops(df_rest, df_time_rest, df_execution_important,
                                                                   reschedule_start = 1440,
                                                                   solver= "HiGHS", msg=True, timeLimit=max_time, gapRel= 0.10)
df_reschedule

In [ ]:
show.plot_gantt_machines(df_reschedule)
check.is_machine_conflict_free(df_plan)
check.is_operation_sequence_correct(df_plan)
check.is_job_timing_correct(df_plan)
check.is_start_correct(df_plan)