# Reihenfolge auf Maschinen

In [2]:
import pandas as pd

pd.set_option('display.max_colwidth', 93)

In [3]:
import utils.sequence_tester as seq_tester

In [4]:
def get_schedule_filename(prefix: str = "", day: int = 0, data_txt: str = "schedule", suffix: str = "") -> str:
    file_template = "data/{prefix}_{data}_{day:02d}{suffix}.csv"
    if suffix:
        suffix = f"_{suffix}"
    return file_template.format(prefix=prefix,data=data_txt,day=day, suffix=suffix)

In [5]:
get_schedule_filename("06", day=0, suffix="init")

'data/06_schedule_00_init.csv'

In [6]:
df_plan_init =  pd.read_csv(get_schedule_filename("06", day=0, suffix="init"))
df_plan_init = df_plan_init.sort_values(by=["Arrival", "Start"]).reset_index(drop=True)
df_plan_init

,Job,Operation,Arrival,Deadline,Machine,Start,Processing Time,End,Lateness,Tardiness,Earliness
0,Job_000,0,0,1126,M0,0,29,29,-1097,0,1097
1,Job_000,1,0,1126,M1,29,78,107,-1019,0,1019
2,Job_000,2,0,1126,M2,107,9,116,-1010,0,1010
3,Job_000,3,0,1126,M3,116,36,152,-974,0,974
4,Job_000,4,0,1126,M4,152,49,201,-925,0,925
...,...,...,...,...,...,...,...,...,...,...,...
565,Job_056,5,4206,5746,M9,4537,76,4613,-1133,0,1133
566,Job_056,6,4206,5746,M5,4613,47,4660,-1086,0,1086
567,Job_056,7,4206,5746,M3,4660,52,4712,-1034,0,1034
568,Job_056,8,4206,5746,M4,4772,90,4862,-884,0,884
569,Job_056,9,4206,5746,M7,5701,45,5746,0,0,0

In [7]:
df_plan_init[df_plan_init.Job == "Job_018"]

,Job,Operation,Arrival,Deadline,Machine,Start,Processing Time,End,Lateness,Tardiness,Earliness
180,Job_018,0,1326,2866,M1,1434,85,1519,-1347,0,1347
181,Job_018,1,1326,2866,M0,1521,13,1534,-1332,0,1332
182,Job_018,2,1326,2866,M2,1589,61,1650,-1216,0,1216
183,Job_018,3,1326,2866,M6,1711,7,1718,-1148,0,1148
184,Job_018,4,1326,2866,M8,1718,64,1782,-1084,0,1084
185,Job_018,5,1326,2866,M9,1831,76,1907,-959,0,959
186,Job_018,6,1326,2866,M5,1954,47,2001,-865,0,865
187,Job_018,7,1326,2866,M3,2205,52,2257,-609,0,609
188,Job_018,8,1326,2866,M4,2257,90,2347,-519,0,519
189,Job_018,9,1326,2866,M7,2821,45,2866,0,0,0

## Mit "Deviation Penalty"

### Tag 1

In [10]:
day_numb = 1

df_plan_temp = pd.read_csv(get_schedule_filename("06_devpen", day=day_numb))
df_plan_temp = df_plan_temp.sort_values(by=["Arrival", "Start"]).reset_index(drop=True)
df_plan_temp 

df_plan_devpen_01 = df_plan_temp 
df_plan_devpen_01

,Job,Operation,Arrival,Deadline,Machine,Start,Processing Time,End,Lateness,Tardiness,Earliness
0,Job_001,9,81,1535,M8,1505,30,1535,0,0,0
1,Job_002,9,141,1761,M4,1724,33,1757,-4,0,4
2,Job_003,9,192,2060,M5,2017,43,2060,0,0,0
3,Job_005,9,296,1710,M7,1685,25,1710,0,0,0
4,Job_006,9,333,1520,M4,1499,55,1554,34,34,0
...,...,...,...,...,...,...,...,...,...,...,...
635,Job_075,5,5646,7186,M9,6240,76,6316,-870,0,870
636,Job_075,6,5646,7186,M5,6380,47,6427,-759,0,759
637,Job_075,7,5646,7186,M3,6491,52,6543,-643,0,643
638,Job_075,8,5646,7186,M4,6543,90,6633,-553,0,553
639,Job_075,9,5646,7186,M7,7141,45,7186,0,0,0

#### Vergleich (Kendall Tau)

In [12]:
df_compare_01 = seq_tester.analyze_machine_sequences(df_plan_init, df_plan_devpen_01, 1440*day_numb)
df_compare_01

,original_sequence,revised_sequence_raw,revised_sequence,changed,kendall_tau
Machine,,,,,
M0,"[Job_019, Job_018, Job_020, Job_013, Job_021, Job_023, Job_025, Job_022, Job_026, Job_027...","[Job_019, Job_020, Job_014, Job_021, Job_023, Job_025, Job_013, Job_018, Job_026, Job_027...","[Job_019, Job_020, Job_021, Job_023, Job_025, Job_013, Job_018, Job_026, Job_027, Job_022...",True,0.974359
M1,"[Job_019, Job_021, Job_022, Job_025, Job_023, Job_024, Job_020, Job_028, Job_026, Job_027...","[Job_013, Job_017, Job_019, Job_021, Job_025, Job_023, Job_018, Job_022, Job_024, Job_020...","[Job_019, Job_021, Job_025, Job_023, Job_022, Job_024, Job_020, Job_028, Job_026, Job_027...",True,0.994310
M2,"[Job_017, Job_016, Job_018, Job_019, Job_020, Job_023, Job_024, Job_021, Job_025, Job_022...","[Job_017, Job_011, Job_019, Job_016, Job_023, Job_020, Job_021, Job_025, Job_018, Job_026...","[Job_017, Job_019, Job_016, Job_023, Job_020, Job_021, Job_025, Job_018, Job_026, Job_024...",True,0.973171
M3,"[Job_017, Job_019, Job_021, Job_025, Job_007, Job_023, Job_020, Job_024, Job_018, Job_010...","[Job_015, Job_017, Job_013, Job_019, Job_021, Job_025, Job_007, Job_023, Job_020, Job_024...","[Job_017, Job_019, Job_021, Job_025, Job_007, Job_023, Job_020, Job_024, Job_010, Job_018...",True,0.997785
M4,"[Job_006, Job_015, Job_017, Job_008, Job_011, Job_002, Job_019, Job_013, Job_020, Job_014...","[Job_006, Job_015, Job_017, Job_008, Job_002, Job_019, Job_020, Job_014, Job_011, Job_023...","[Job_006, Job_015, Job_017, Job_008, Job_002, Job_019, Job_020, Job_014, Job_011, Job_023...",True,0.985816
M5,"[Job_017, Job_016, Job_019, Job_023, Job_024, Job_018, Job_003, Job_025, Job_021, Job_020...","[Job_015, Job_013, Job_012, Job_017, Job_019, Job_016, Job_023, Job_003, Job_025, Job_021...","[Job_017, Job_019, Job_016, Job_023, Job_003, Job_025, Job_021, Job_024, Job_018, Job_020...",True,0.984496
M6,"[Job_011, Job_017, Job_018, Job_013, Job_019, Job_016, Job_025, Job_014, Job_015, Job_020...","[Job_012, Job_011, Job_017, Job_019, Job_016, Job_025, Job_018, Job_014, Job_013, Job_015...","[Job_011, Job_017, Job_019, Job_016, Job_025, Job_018, Job_014, Job_013, Job_015, Job_020...",True,0.983838
M7,"[Job_012, Job_011, Job_005, Job_015, Job_017, Job_016, Job_019, Job_021, Job_014, Job_009...","[Job_012, Job_005, Job_015, Job_017, Job_016, Job_011, Job_019, Job_021, Job_014, Job_009...","[Job_012, Job_005, Job_015, Job_017, Job_016, Job_011, Job_019, Job_021, Job_014, Job_009...",True,0.992908
M8,"[Job_001, Job_013, Job_015, Job_016, Job_018, Job_017, Job_021, Job_019, Job_014, Job_023...","[Job_001, Job_015, Job_013, Job_016, Job_017, Job_021, Job_018, Job_014, Job_023, Job_019...","[Job_001, Job_015, Job_013, Job_016, Job_017, Job_021, Job_018, Job_014, Job_023, Job_019...",True,0.984043
M9,"[Job_011, Job_013, Job_015, Job_018, Job_020, Job_016, Job_025, Job_017, Job_023, Job_024...","[Job_011, Job_013, Job_015, Job_020, Job_016, Job_025, Job_018, Job_017, Job_023, Job_024...","[Job_011, Job_013, Job_015, Job_020, Job_016, Job_025, Job_018, Job_017, Job_023, Job_024...",True,0.993939

### Tag 2

In [14]:
day_numb = 2

df_plan_temp = pd.read_csv(get_schedule_filename("06_devpen", day=day_numb))
df_plan_temp = df_plan_temp .sort_values(by=["Arrival", "Start"]).reset_index(drop=True)
df_plan_temp 

df_plan_devpen_02 = df_plan_temp 
df_plan_devpen_02

,Job,Operation,Arrival,Deadline,Machine,Start,Processing Time,End,Lateness,Tardiness,Earliness
0,Job_014,9,1104,2972,M5,2929,43,2972,0,0,0
1,Job_020,9,1521,2975,M8,2945,30,2975,0,0,0
2,Job_021,9,1581,3201,M4,3168,33,3201,0,0,0
3,Job_022,8,1632,3500,M9,2913,22,2935,-565,0,565
4,Job_022,9,1632,3500,M5,3457,43,3500,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
640,Job_094,5,7086,8626,M9,7411,76,7487,-1139,0,1139
641,Job_094,6,7086,8626,M5,7511,47,7558,-1068,0,1068
642,Job_094,7,7086,8626,M3,7618,52,7670,-956,0,956
643,Job_094,8,7086,8626,M4,7852,90,7942,-684,0,684
644,Job_094,9,7086,8626,M7,8581,45,8626,0,0,0

In [15]:
og = df_plan_devpen_01
new = df_plan_devpen_02

df_compare_02 = seq_tester.analyze_machine_sequences(og, new, 1440*day_numb)
df_compare_02

,original_sequence,revised_sequence_raw,revised_sequence,changed,kendall_tau
Machine,,,,,
M0,"[Job_038, Job_033, Job_039, Job_032, Job_040, Job_042, Job_044, Job_041, Job_045, Job_046...","[Job_038, Job_039, Job_033, Job_040, Job_042, Job_044, Job_032, Job_041, Job_045, Job_046...","[Job_038, Job_039, Job_033, Job_040, Job_042, Job_044, Job_032, Job_041, Job_045, Job_046...",True,0.989744
M1,"[Job_031, Job_038, Job_040, Job_041, Job_044, Job_042, Job_043, Job_039, Job_047, Job_045...","[Job_038, Job_031, Job_040, Job_041, Job_042, Job_044, Job_043, Job_039, Job_047, Job_045...","[Job_038, Job_031, Job_040, Job_041, Job_042, Job_044, Job_043, Job_039, Job_047, Job_045...",True,0.994602
M2,"[Job_037, Job_036, Job_039, Job_038, Job_035, Job_042, Job_043, Job_040, Job_041, Job_045...","[Job_037, Job_036, Job_039, Job_038, Job_035, Job_042, Job_043, Job_040, Job_041, Job_045...","[Job_037, Job_036, Job_039, Job_038, Job_035, Job_042, Job_043, Job_040, Job_041, Job_045...",False,1.000000
M3,"[Job_032, Job_036, Job_035, Job_038, Job_040, Job_037, Job_042, Job_026, Job_039, Job_044...","[Job_034, Job_031, Job_036, Job_028, Job_035, Job_038, Job_032, Job_040, Job_037, Job_042...","[Job_036, Job_035, Job_038, Job_032, Job_040, Job_037, Job_042, Job_026, Job_039, Job_044...",True,0.993939
M4,"[Job_025, Job_034, Job_036, Job_028, Job_021, Job_027, Job_038, Job_030, Job_032, Job_039...","[Job_025, Job_024, Job_034, Job_036, Job_028, Job_021, Job_027, Job_038, Job_030, Job_039...","[Job_025, Job_034, Job_036, Job_028, Job_021, Job_027, Job_038, Job_030, Job_039, Job_042...",True,0.994898
M5,"[Job_014, Job_031, Job_036, Job_037, Job_038, Job_042, Job_035, Job_043, Job_022, Job_040...","[Job_014, Job_036, Job_031, Job_037, Job_038, Job_042, Job_035, Job_043, Job_022, Job_040...","[Job_014, Job_036, Job_031, Job_037, Job_038, Job_042, Job_035, Job_043, Job_022, Job_040...",True,0.997980
M6,"[Job_031, Job_037, Job_036, Job_032, Job_038, Job_035, Job_040, Job_034, Job_033, Job_039...","[Job_027, Job_030, Job_037, Job_031, Job_036, Job_038, Job_035, Job_032, Job_040, Job_034...","[Job_037, Job_031, Job_036, Job_038, Job_035, Job_032, Job_040, Job_034, Job_033, Job_039...",True,0.993939
M7,"[Job_029, Job_030, Job_024, Job_034, Job_036, Job_031, Job_038, Job_035, Job_040, Job_042...","[Job_026, Job_029, Job_027, Job_034, Job_024, Job_030, Job_036, Job_031, Job_035, Job_038...","[Job_029, Job_034, Job_024, Job_030, Job_036, Job_031, Job_035, Job_038, Job_040, Job_042...",True,0.993197
M8,"[Job_020, Job_032, Job_034, Job_037, Job_035, Job_036, Job_040, Job_038, Job_042, Job_027...","[Job_020, Job_034, Job_037, Job_035, Job_032, Job_036, Job_040, Job_038, Job_042, Job_027...","[Job_020, Job_034, Job_037, Job_035, Job_032, Job_036, Job_040, Job_038, Job_042, Job_027...",True,0.994681
M9,"[Job_032, Job_037, Job_034, Job_039, Job_035, Job_042, Job_040, Job_036, Job_044, Job_038...","[Job_030, Job_022, Job_037, Job_034, Job_032, Job_039, Job_035, Job_042, Job_040, Job_036...","[Job_037, Job_034, Job_032, Job_039, Job_035, Job_042, Job_040, Job_036, Job_044, Job_038...",True,0.995772

### Tag 3

In [17]:
day_numb = 3

df_plan_temp = pd.read_csv(get_schedule_filename("06_devpen", day=day_numb))
df_plan_temp = df_plan_temp .sort_values(by=["Arrival", "Start"]).reset_index(drop=True)
df_plan_temp 

df_plan_devpen_03 = df_plan_temp

In [18]:
og = df_plan_devpen_02
new = df_plan_devpen_03

df_compare_03 = seq_tester.analyze_machine_sequences(og, new, 1440*day_numb)
df_compare_03

,original_sequence,revised_sequence_raw,revised_sequence,changed,kendall_tau
Machine,,,,,
M0,"[Job_052, Job_043, Job_058, Job_057, Job_051, Job_061, Job_059, Job_063, Job_064, Job_060...","[Job_056, Job_058, Job_057, Job_043, Job_052, Job_061, Job_051, Job_063, Job_059, Job_064...","[Job_058, Job_057, Job_043, Job_052, Job_061, Job_051, Job_063, Job_059, Job_064, Job_060...",True,0.982927
M1,"[Job_050, Job_059, Job_057, Job_061, Job_063, Job_060, Job_062, Job_064, Job_066, Job_065...","[Job_055, Job_050, Job_059, Job_057, Job_061, Job_063, Job_060, Job_062, Job_064, Job_066...","[Job_050, Job_059, Job_057, Job_061, Job_063, Job_060, Job_062, Job_064, Job_066, Job_065...",False,1.000000
M2,"[Job_056, Job_055, Job_054, Job_058, Job_061, Job_057, Job_062, Job_064, Job_063, Job_060...","[Job_052, Job_055, Job_056, Job_054, Job_061, Job_058, Job_057, Job_062, Job_064, Job_063...","[Job_055, Job_056, Job_054, Job_061, Job_058, Job_057, Job_062, Job_064, Job_063, Job_060...",True,0.995122
M3,"[Job_051, Job_055, Job_047, Job_041, Job_056, Job_057, Job_063, Job_045, Job_061, Job_059...","[Job_051, Job_055, Job_053, Job_047, Job_041, Job_057, Job_063, Job_045, Job_061, Job_059...","[Job_051, Job_055, Job_047, Job_041, Job_057, Job_063, Job_045, Job_061, Job_059, Job_056...",True,0.990338
M4,"[Job_044, Job_046, Job_055, Job_043, Job_047, Job_040, Job_049, Job_051, Job_052, Job_056...","[Job_044, Job_046, Job_055, Job_040, Job_043, Job_053, Job_052, Job_051, Job_047, Job_057...","[Job_044, Job_046, Job_055, Job_040, Job_043, Job_052, Job_051, Job_047, Job_057, Job_058...",True,0.974490
M5,"[Job_033, Job_050, Job_055, Job_056, Job_054, Job_061, Job_062, Job_063, Job_041, Job_057...","[Job_033, Job_053, Job_047, Job_050, Job_055, Job_054, Job_061, Job_056, Job_062, Job_063...","[Job_033, Job_050, Job_055, Job_054, Job_061, Job_056, Job_062, Job_063, Job_041, Job_057...",True,0.995960
M6,"[Job_056, Job_050, Job_043, Job_055, Job_051, Job_054, Job_052, Job_063, Job_057, Job_053...","[Job_050, Job_056, Job_043, Job_055, Job_051, Job_054, Job_052, Job_063, Job_049, Job_057...","[Job_050, Job_056, Job_043, Job_055, Job_051, Job_054, Job_052, Job_063, Job_057, Job_053...",True,0.998068
M7,"[Job_049, Job_053, Job_043, Job_055, Job_050, Job_054, Job_045, Job_052, Job_057, Job_063...","[Job_046, Job_048, Job_043, Job_055, Job_054, Job_053, Job_045, Job_050, Job_052, Job_049...","[Job_043, Job_055, Job_054, Job_053, Job_045, Job_050, Job_052, Job_049, Job_063, Job_047...",True,0.972789
M8,"[Job_053, Job_039, Job_051, Job_056, Job_054, Job_055, Job_052, Job_063, Job_059, Job_061...","[Job_048, Job_039, Job_051, Job_056, Job_054, Job_053, Job_055, Job_052, Job_063, Job_059...","[Job_039, Job_051, Job_056, Job_054, Job_053, Job_055, Job_052, Job_063, Job_059, Job_061...",True,0.992908
M9,"[Job_045, Job_051, Job_056, Job_053, Job_041, Job_054, Job_063, Job_058, Job_052, Job_055...","[Job_043, Job_049, Job_048, Job_051, Job_056, Job_041, Job_045, Job_053, Job_054, Job_063...","[Job_051, Job_056, Job_041, Job_045, Job_053, Job_054, Job_063, Job_058, Job_052, Job_055...",True,0.992271

## Ohne "Deviation Penalty"

### Tag 1

In [21]:
day_numb = 1

df_plan_temp = pd.read_csv(get_schedule_filename("06_simple", day=day_numb))
df_plan_temp = df_plan_temp .sort_values(by=["Arrival", "Start"]).reset_index(drop=True)
df_plan_temp 

df_plan_simple_01 = df_plan_temp 
df_plan_simple_01

,Job,Operation,Arrival,Deadline,Machine,Start,Processing Time,End,Lateness,Tardiness,Earliness
0,Job_001,9,81,1535,M8,1505,30,1535,0,0,0
1,Job_002,9,141,1761,M4,1728,33,1761,0,0,0
2,Job_003,9,192,2060,M5,2017,43,2060,0,0,0
3,Job_005,9,296,1710,M7,1685,25,1710,0,0,0
4,Job_006,9,333,1520,M4,1499,55,1554,34,34,0
...,...,...,...,...,...,...,...,...,...,...,...
635,Job_075,5,5646,7186,M9,6118,76,6194,-992,0,992
636,Job_075,6,5646,7186,M5,6194,47,6241,-945,0,945
637,Job_075,7,5646,7186,M3,6335,52,6387,-799,0,799
638,Job_075,8,5646,7186,M4,6387,90,6477,-709,0,709
639,Job_075,9,5646,7186,M7,7141,45,7186,0,0,0

In [22]:
og = df_plan_init
new = df_plan_simple_01

df_compare_simple_01 = seq_tester.analyze_machine_sequences(og, new, 1440*day_numb)
df_compare_simple_01

,original_sequence,revised_sequence_raw,revised_sequence,changed,kendall_tau
Machine,,,,,
M0,"[Job_019, Job_018, Job_020, Job_013, Job_021, Job_023, Job_025, Job_022, Job_026, Job_027...","[Job_019, Job_020, Job_014, Job_018, Job_023, Job_021, Job_025, Job_013, Job_022, Job_026...","[Job_019, Job_020, Job_018, Job_023, Job_021, Job_025, Job_013, Job_022, Job_026, Job_027...",True,0.930769
M1,"[Job_019, Job_021, Job_022, Job_025, Job_023, Job_024, Job_020, Job_028, Job_026, Job_027...","[Job_017, Job_013, Job_019, Job_018, Job_021, Job_023, Job_025, Job_022, Job_024, Job_020...","[Job_019, Job_021, Job_023, Job_025, Job_022, Job_024, Job_020, Job_028, Job_026, Job_027...",True,0.928876
M2,"[Job_017, Job_016, Job_018, Job_019, Job_020, Job_023, Job_024, Job_021, Job_025, Job_022...","[Job_011, Job_017, Job_019, Job_016, Job_023, Job_018, Job_020, Job_024, Job_021, Job_022...","[Job_017, Job_019, Job_016, Job_023, Job_018, Job_020, Job_024, Job_021, Job_022, Job_026...",True,0.948780
M3,"[Job_017, Job_019, Job_021, Job_025, Job_007, Job_023, Job_020, Job_024, Job_018, Job_010...","[Job_015, Job_013, Job_017, Job_019, Job_021, Job_007, Job_023, Job_020, Job_025, Job_018...","[Job_017, Job_019, Job_021, Job_007, Job_023, Job_020, Job_025, Job_018, Job_010, Job_014...",True,0.933555
M4,"[Job_006, Job_015, Job_017, Job_008, Job_011, Job_002, Job_019, Job_013, Job_020, Job_014...","[Job_006, Job_015, Job_008, Job_002, Job_017, Job_019, Job_011, Job_020, Job_014, Job_023...","[Job_006, Job_015, Job_008, Job_002, Job_017, Job_019, Job_011, Job_020, Job_014, Job_023...",True,0.939716
M5,"[Job_017, Job_016, Job_019, Job_023, Job_024, Job_018, Job_003, Job_025, Job_021, Job_020...","[Job_015, Job_012, Job_013, Job_017, Job_023, Job_019, Job_016, Job_024, Job_003, Job_018...","[Job_017, Job_023, Job_019, Job_016, Job_024, Job_003, Job_018, Job_021, Job_020, Job_025...",True,0.955703
M6,"[Job_011, Job_017, Job_018, Job_013, Job_019, Job_016, Job_025, Job_014, Job_015, Job_020...","[Job_012, Job_011, Job_018, Job_017, Job_019, Job_016, Job_013, Job_014, Job_015, Job_020...","[Job_011, Job_018, Job_017, Job_019, Job_016, Job_013, Job_014, Job_015, Job_020, Job_025...",True,0.917172
M7,"[Job_012, Job_011, Job_005, Job_015, Job_017, Job_016, Job_019, Job_021, Job_014, Job_009...","[Job_012, Job_005, Job_015, Job_011, Job_017, Job_016, Job_019, Job_021, Job_023, Job_009...","[Job_012, Job_005, Job_015, Job_011, Job_017, Job_016, Job_019, Job_021, Job_023, Job_009...",True,0.921986
M8,"[Job_001, Job_013, Job_015, Job_016, Job_018, Job_017, Job_021, Job_019, Job_014, Job_023...","[Job_001, Job_015, Job_013, Job_016, Job_018, Job_017, Job_019, Job_021, Job_023, Job_014...","[Job_001, Job_015, Job_013, Job_016, Job_018, Job_017, Job_019, Job_021, Job_023, Job_014...",True,0.939716
M9,"[Job_011, Job_013, Job_015, Job_018, Job_020, Job_016, Job_025, Job_017, Job_023, Job_024...","[Job_011, Job_015, Job_013, Job_018, Job_020, Job_016, Job_023, Job_017, Job_025, Job_021...","[Job_011, Job_015, Job_013, Job_018, Job_020, Job_016, Job_023, Job_017, Job_025, Job_021...",True,0.876768

### Tag 2

In [24]:
day_numb = 2

df_plan_temp = pd.read_csv(get_schedule_filename("06_simple", day=day_numb))
df_plan_temp = df_plan_temp .sort_values(by=["Arrival", "Start"]).reset_index(drop=True)
df_plan_temp 

df_plan_simple_02 = df_plan_temp 
df_plan_simple_02

,Job,Operation,Arrival,Deadline,Machine,Start,Processing Time,End,Lateness,Tardiness,Earliness
0,Job_014,9,1104,2972,M5,2959,43,3002,30,30,0
1,Job_020,9,1521,2975,M8,2945,30,2975,0,0,0
2,Job_021,9,1581,3201,M4,3168,33,3201,0,0,0
3,Job_022,8,1632,3500,M9,2900,22,2922,-578,0,578
4,Job_022,9,1632,3500,M5,3457,43,3500,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
650,Job_094,5,7086,8626,M9,7391,76,7467,-1159,0,1159
651,Job_094,6,7086,8626,M5,7467,47,7514,-1112,0,1112
652,Job_094,7,7086,8626,M3,7514,52,7566,-1060,0,1060
653,Job_094,8,7086,8626,M4,7716,90,7806,-820,0,820
654,Job_094,9,7086,8626,M7,8581,45,8626,0,0,0

In [25]:
og = df_plan_simple_01
new = df_plan_simple_02

df_compare_simple_02 = seq_tester.analyze_machine_sequences(og, new, 1440*day_numb)
df_compare_simple_02

,original_sequence,revised_sequence_raw,revised_sequence,changed,kendall_tau
Machine,,,,,
M0,"[Job_038, Job_039, Job_037, Job_035, Job_040, Job_042, Job_044, Job_032, Job_046, Job_041...","[Job_038, Job_033, Job_035, Job_039, Job_037, Job_042, Job_040, Job_032, Job_044, Job_046...","[Job_038, Job_035, Job_039, Job_037, Job_042, Job_040, Job_032, Job_044, Job_046, Job_041...",True,0.958537
M1,"[Job_031, Job_037, Job_038, Job_040, Job_041, Job_044, Job_042, Job_043, Job_047, Job_046...","[Job_032, Job_035, Job_031, Job_038, Job_037, Job_040, Job_042, Job_044, Job_041, Job_043...","[Job_031, Job_038, Job_037, Job_040, Job_042, Job_044, Job_041, Job_043, Job_047, Job_039...",True,0.961538
M2,"[Job_037, Job_038, Job_030, Job_042, Job_039, Job_035, Job_043, Job_040, Job_041, Job_044...","[Job_036, Job_038, Job_030, Job_042, Job_037, Job_035, Job_039, Job_043, Job_041, Job_044...","[Job_038, Job_030, Job_042, Job_037, Job_035, Job_039, Job_043, Job_041, Job_044, Job_045...",True,0.939024
M3,"[Job_034, Job_028, Job_030, Job_032, Job_038, Job_035, Job_040, Job_037, Job_026, Job_044...","[Job_034, Job_030, Job_036, Job_028, Job_032, Job_038, Job_035, Job_026, Job_042, Job_044...","[Job_034, Job_030, Job_028, Job_032, Job_038, Job_035, Job_026, Job_042, Job_044, Job_039...",True,0.935245
M4,"[Job_025, Job_034, Job_036, Job_028, Job_021, Job_027, Job_038, Job_033, Job_039, Job_037...","[Job_025, Job_034, Job_033, Job_027, Job_021, Job_036, Job_028, Job_038, Job_030, Job_039...","[Job_025, Job_034, Job_033, Job_027, Job_021, Job_036, Job_028, Job_038, Job_030, Job_039...",True,0.938776
M5,"[Job_014, Job_031, Job_030, Job_036, Job_037, Job_038, Job_042, Job_022, Job_043, Job_035...","[Job_014, Job_032, Job_030, Job_031, Job_036, Job_042, Job_038, Job_022, Job_035, Job_037...","[Job_014, Job_030, Job_031, Job_036, Job_042, Job_038, Job_022, Job_035, Job_037, Job_043...",True,0.951691
M6,"[Job_031, Job_037, Job_036, Job_038, Job_033, Job_030, Job_032, Job_034, Job_035, Job_044...","[Job_027, Job_031, Job_033, Job_030, Job_036, Job_037, Job_038, Job_032, Job_035, Job_034...","[Job_031, Job_033, Job_030, Job_036, Job_037, Job_038, Job_032, Job_035, Job_034, Job_044...",True,0.947826
M7,"[Job_027, Job_029, Job_031, Job_024, Job_034, Job_036, Job_038, Job_030, Job_035, Job_028...","[Job_026, Job_027, Job_034, Job_024, Job_029, Job_031, Job_030, Job_036, Job_033, Job_035...","[Job_027, Job_034, Job_024, Job_029, Job_031, Job_030, Job_036, Job_033, Job_035, Job_038...",True,0.928163
M8,"[Job_020, Job_034, Job_037, Job_032, Job_036, Job_035, Job_038, Job_033, Job_040, Job_042...","[Job_020, Job_029, Job_034, Job_033, Job_032, Job_037, Job_035, Job_036, Job_042, Job_038...","[Job_020, Job_034, Job_033, Job_032, Job_037, Job_035, Job_036, Job_042, Job_038, Job_027...",True,0.946809
M9,"[Job_029, Job_037, Job_034, Job_032, Job_030, Job_039, Job_036, Job_035, Job_043, Job_038...","[Job_027, Job_022, Job_029, Job_034, Job_030, Job_032, Job_037, Job_039, Job_042, Job_035...","[Job_029, Job_034, Job_030, Job_032, Job_037, Job_039, Job_042, Job_035, Job_036, Job_044...",True,0.934300